@metacharset "utf-8";

/*
font-family: 'Oxygen', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/
/*
* {
    padding: 0;
    margin: 0;
}
*/
body {
    font-family: 'Oxygen', sans-serif;
    width: 100vw;
    height: 100vh;
}

header {
    background-color: aqua;
    width: 100vw;
    height: 480px;
}

#article {
    background-color: forestgreen;
    height: 1110px;
}

#article img {
    background-color: gray;
    height: 270px;
}

#article .card-body {
    height: 100px;
}

#texte {
    background-color: rgb(98, 180, 98);
    height: 240px;
}

#about {
    background-color: rgb(95, 117, 95);
    height: 240px;
}

#testimonials {
    background-color: rgb(98, 180, 98);
    height: 530px;
}
.service {
    background-color: gray;
    height: 200px;
}





/*************** CSS LANDRY ****************/

.space{
    margin-left: 2em;
    margin-right: 2em;
    
}





