@charset "utf-8";

/*
font-family: 'Oxygen', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/

body {
    font-family: 'Oxygen', sans-serif;
    height: 100%;
}

h1, h2 {
    font-family: 'Ubuntu', sans-serif;
}

.padding_section {
    padding: 1.25em 0em;
}

header {
    background-image: url('/images/background-header.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 1)
}
#header nav {
    background-color: rgba(0, 0, 0, 1)!important;
}

#header .nav-item a {
    font-size: 1.5em;
}

#jumbotron {
    background-color: rgba(0, 0, 0, 0.3)!important;
}

#about {
    background-image: url('/images/background-about.jpg');
    background-repeat: no-repeat;
    background-position: 90% 0%;
    background-size: cover;
    height: 250px;
}