@charset "utf-8";

/*
font-family: 'Oxygen', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/

body {
    font-family: 'Oxygen', sans-serif;
    height: 100%;
}

h1, h2 {
    font-family: 'Ubuntu', sans-serif;
}

.padding_section {
    padding: 1.25em 0em;
}

header {
    height: 100vh;
    background: url('/ressources/02.jpg') no-repeat center;
    /*background-size: cover;*/
}

#header a {
    color: white;
}

#jumbotron .container{
    background-color: rgba(0, 0, 0, 0.2)!important;
}

#about {
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#testimonials ul {
    padding-left: 1.063em;
}

#map {
    height: 100%;
    background: url('/ressources/black.jpg') no-repeat center;
}

#contact i {
    font-size: 2em;
    padding: 0 0.5em;
}

#footer-link a {
    font-size: 0.7em;
    color: black;
}

#newsletters input::placeholder {
    text-align: center;
}

/********* MEDIA QUERIES *********/


/********* CSS LANDRY *********/










